<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>TPC Portal</display-name>
  <welcome-file-list>
  <welcome-file>start.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>models.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/Slogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/y</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/z</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/q</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/Tregister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/Tlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/Sdel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/Tdel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/Cdel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/Adel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/Aregister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/Alogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/work</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/Clogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/Cregister</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/THlogin</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/Cskill</url-pattern>
  </servlet-mapping>
      <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
        <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/apply</url-pattern>
  </servlet-mapping>
</web-app>